
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Profesión de persona</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">
      <p>
        <strong>Persona:</strong>
        <%= @person_profession.person.name %>
      </p>

      <p>
        <strong>Profesion:</strong>
        <%= @person_profession.profession.name %>
      </p>

      <p>
        <strong>Grado Academico:</strong>
        <%= @person_profession.grade_academic.name %>
      </p>
      <p>
        <strong>Institución:</strong>
        <%= @person_profession.grade_academic.institution %>
      </p>
      <p>
        <%= link_to 'Editar', edit_person_profession_path(@person_profession), class:"btn btn-info"  %>
        <%= link_to 'Atras', person_professions_path, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
