
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Usuario Entrenamiento</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">
      <p>
        <strong>Estado  :</strong>
        <%= @traning_user.status %>
      </p>

      <p>
        <strong>Entrenamiento  :</strong>
        <%= @traning_user.traning.title %>
      </p>

      <p>
        <strong>Usuario  :</strong>
        <%= @traning_user.user.email %>
      </p>

      <p>
        <%= link_to 'Editar', edit_traning_user_path(@traning_user) , class:"btn btn-info"  %>
        <%= link_to 'Atras', traning_users_path, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
