<%= form_with(model: evaluacion_tecnica, local: true, html: {class: "form-horizontal"})  do |form| %>
  <% if evaluacion_tecnica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluacion_tecnica.errors.count, "error") %> prohibited this evaluacion_tecnica from being saved:</h2>

      <ul>
      <% evaluacion_tecnica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
             <div class="form-group row">
                  <%= form.label :observacion , class:"control-label text-right col-md-3" %>
                  <div class="col-md-9">
                    <%= form.text_field :observacion ,class:"form-control",placeholder:"Observacion" %>
                  </div>
             </div>
        </div>


  <div class="col-md-6">
             <div class="form-group row">
                  <%= form.label :calificacion , class:"control-label text-right col-md-3" %>
                  <div class="col-md-9">
                    <%= form.text_field :calificacion ,class:"form-control",placeholder:"calificacion" %>
                  </div>
             </div>
        </div>


<div class="form-actions">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <%= form.submit "Guardar", class:"btn btn-info" %>
                <%= link_to 'Atras',evaluacion_tecnicas_path , class:"btn btn-info"%>
              </div>
            </div>
          </div>
        </div>
      </div>
<% end %>
