<%= form_with(model: stock, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <div class="form-group row">
      <%= form.label :nombre_iten , class:"control-label text-right col-md-3" %>
      <div class="col-md-9">
        <%= form.text_field :item_name,class:"form-control",placeholder:"Nombre" %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group row">
      <%= form.label :cantidad , class:"control-label text-right col-md-3" %>
      <div class="col-md-9">
        <%= form.number_field :quantity,class:"form-control",placeholder:"00" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <%= form.label :Fecha_compra , class:"control-label text-right col-md-3" %>
      <div class="col-md-9">
        <%= form.date_select :buying_date %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <%= form.label :Stock_categoria , class:"control-label text-right col-md-3" %>
      <div class="col-md-9">
        <%= form.collection_select(:stock_category_id, StockCategory.all, :id, :name, {hide_label: true},class: "form-control custom-select") %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <%= form.submit "Guardar", class:"btn btn-info" %>
            <%= link_to 'Atras',stocks_path , class:"btn btn-info"%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
