<p id="notice"><%= notice %></p>

<h1>Asig Details</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Stock</th>
      <th>Asig stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asig_details.each do |asig_detail| %>
      <tr>
        <td><%= asig_detail.quantity %></td>
        <td><%= asig_detail.stock %></td>
        <td><%= asig_detail.asig_stock %></td>
        <td><%= link_to 'Show', asig_detail %></td>
        <td><%= link_to 'Edit', edit_asig_detail_path(asig_detail) %></td>
        <td><%= link_to 'Destroy', asig_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asig Detail', new_asig_detail_path %>
