
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Detalle Asignacion</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">
      <p>
        <strong>Quantity:</strong>
        <%= @asig_detail.quantity %>
      </p>

      <p>
        <strong>Stock:</strong>
        <%= @asig_detail.stock.item_name %>
      </p>

      <p>
        <strong>Asig stock:</strong>
        <%= @asig_detail.asig_stock.asig_date %>
      </p>

      <p>
        <%= link_to 'Editar', edit_asig_detail_path(@asig_detail), class:"btn btn-info"  %>
        <%= link_to 'Atras', asig_details_path, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
