
<%= form_with(model: skill, local: true, html: {class: "form-horizontal"}) do |form| %>
<% if skill.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

    <ul>
    <% skill.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="col-md-6">
             <div class="form-group row">
                  <%= form.label :name , class:"control-label text-right col-md-3" %>
                  <div class="col-md-9">
                    <%= form.text_field :name ,class:"form-control",placeholder:"Nombre" %>
                  </div>
             </div>
        </div>
        <div class="col-md-6">
                   <div class="form-group row">
                        <%= form.label :description , class:"control-label text-right col-md-3" %>
                        <div class="col-md-9">
                          <%= form.text_area :description ,class:"form-control",placeholder:"Nombre" %>
                        </div>
                   </div>
              </div>



  <div class="form-actions">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-offset-3 col-md-9">
                  <%= form.submit "Guardar", class:"btn btn-info" %>
                  <%= link_to 'Atras',skills_path , class:"btn btn-info"%>
                </div>
              </div>
            </div>
          </div>
        </div>
<% end %>
