<%= form_with(model: asig_stock, local: true) do |form| %>
  <% if asig_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asig_stock.errors.count, "error") %> prohibited this asig_stock from being saved:</h2>

      <ul>
      <% asig_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asig_date %>
    <%= form.date_select :asig_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
