

<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Designacion</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">
      <p>
        <strong>Name:</strong>
        <%= @designacion.name %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @designacion.user_id %>
      </p>

      <p>
        <strong>Departamento:</strong>
        <%= @designacion.departamento_id %>
      </p>

      <p>
        <%= link_to 'Editar', edit_designacion_path(@designacion), class:"btn btn-info"  %>
        <%= link_to 'Atras', designacions_path, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
