
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <div class="user-profile">
            <div class="profile-img"> <img src="<%= image_url 'users/profile.png' %>" alt="user" />
                     <!-- this is blinking heartbit-->
                    <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                    <h5>Markarn Doe</h5>
                    <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                     <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                    <%= link_to "Log out", destroy_user_session_path, :method => :get %><i class="mdi mdi-power"></i></a>

                <div class="dropdown-menu animated flipInY">
                <!-- text-->
                <% if Person.find_by(user_id: current_user.id).present? %>
                  <%= link_to 'Perfil', edit_person_path(Person.find_by(user_id: current_user.id)) %>
                  <i class="ti-wallet">
                <% else %>
                  <%= link_to 'Perfil', new_person_path %>
                <% end %>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                 <li class="nav-small-cap">
                        DASHBOARD
                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                        <ul aria-expanded="false" class="collapse">
                          <li><%= link_to "Dashboard", skills_path %></li>
                        </ul>
                      </li>
                 </li>

                <li class="nav-small-cap">ACCIONES<li>

                              <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios</span></a>
                                  <ul aria-expanded="false" class="collapse">
                                      <li><%= link_to "Lista de Usuarios", people_path %></li>
                                      <li><%= link_to "Tipo de Memorandum", memorandum_types_path %></li>
                                      <li><%= link_to "Lista de Memorandum", memorandums_path %></li>
                                  </ul>
                              </li>
                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Roles Y Permisos</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Roles", roles_path %></li>
                                    </ul>
                                </li>
                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-plus"></i><span class="hide-menu">Prestamo de Materiales</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Stock Categoria", skills_path %></li>
                                        <li><%= link_to "Stock", civil_states_path %></li>
                                        <li><%= link_to "Asignacion de Stock", civil_states_path %></li>
                                        <li><%= link_to "Asignacion detalle", civil_states_path %></li>
                                    </ul>
                                </li>

                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Persona</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Habilidades", skills_path %></li>
                                        <li><%= link_to "Estados Civiles", civil_states_path %></li>
                                        <li><%= link_to "Grado Academicos", grade_academics_path %></li>
                                        <li><%= link_to "Profesiones", person_professions_path %></li>
                                        <li><%= link_to "Administrar Perfil", people_path %></li>
                                        <li><%= link_to "Lista de Profesiones", professions_path %></li>

                                    </ul>
                                </li>

                      <li class="nav-small-cap">CONTRATO</li>

                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Contrato </span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><%= link_to "Gestionar Contrato", skills_path %></li>
                              <li><%= link_to "Listar Contratos", contract_types_path %></li>
                              <li><%= link_to "Gestionar Descuento Contrato ", contract_types_path %></li>
                              <li><%= link_to "Gestionar Beneficio Contrato", contract_types_path %></li>
                              <li><%= link_to "Administrar Horario", contract_types_path %></li>     <%#= este parece que no lo vamos a poner%>
                          </ul>
                      </li>

                        <li class="nav-small-cap">Pago</li>
                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Pago </span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><%= link_to "Gestionar Pago", pay_types_path  %></li>
                              <li><%= link_to "Tipo de pago",pay_types_path %></li>

                          </ul>
                      </li>

                        <li class="nav-small-cap">Control</li>
                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Control </span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><%= link_to "registrar asistencia", assistances_path %></li>
                              <li><%= link_to "Gestionar Vacaciones", civil_states_path %></li>
                              <li><%= link_to "Registrar Renuncia", civil_states_path %></li>
                              <li><%= link_to "registrar Despidos", civil_states_path %></li>
                              <li><%= link_to "registrar tipo de Renuncia", civil_states_path %></li>
                              <li><%= link_to "registrar tipo de Despido", civil_states_path %></li>

                    </ul>
                </li>

                <li class="nav-small-cap">Departamentos</li>
              <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">control</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><%= link_to "Gestionar Designacion", civil_states_path %></li>
                      <li><%= link_to "gestionar Capacitacion", civil_states_path %></li>
                      <li><%= link_to "Gestionar Departamento", civil_states_path %></li>
                      <li><%= link_to "Gestionar Convocatoria", civil_states_path %></li>
                      <li><%= link_to "Gestionar Evaluacion tecnica ", civil_states_path %></li>
                      <li><%= link_to "Gestionar Anuncios", civil_states_path %></li>
                      <li><%= link_to "Gestinar Evaluacion psicologica", civil_states_path %></li>
                      <li><%= link_to "Gestinar memorandums", civil_states_path %></li>
                      <li><%= link_to "Gestinar Tipos de Memorandums", civil_states_path %></li>

                  </ul>
              </li>

              <li class="nav-small-cap">Backup</li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Control </span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><%= link_to 'Descargar Archivo de Backup',backup_index_path, :method=> :post , class:"fa fa-cloud-download"%></li>
                    <li><%= link_to 'Restore Base de Datos',backup_select_file_path, :method=> :get , class:"fa fa-cloud-upload"%></li>

          </ul>
      </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
