
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <div class="user-profile">
            <div class="profile-img"> <img src="<%= image_url 'users/profile.png' %>" alt="user" />
                     <!-- this is blinking heartbit-->
                    <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                    <h5>Markarn Doe</h5>
                    <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                     <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                    <%= link_to "Log out", destroy_user_session_path, :method => :get %><i class="mdi mdi-power"></i></a>

                <div class="dropdown-menu animated flipInY">
                <!-- text-->
                <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                <!-- text-->
                <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                <!-- text-->
                <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                <!-- text-->
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                 <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONA</li>

                              <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Habilidad <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                                  <ul aria-expanded="false" class="collapse">
                                      <li><%= link_to "Lista de Habilidades", skills_path %></li>
                                      <li><%= link_to "Gestionar Habilidad", civil_states_path %></li>
                                  </ul>
                              </li>
                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Estado Civil <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Lista de Estados Civiles", civil_states_path %></li>
                                        <li><%= link_to "Gestionar Estado Civil", civil_states_path %></li>
                                    </ul>
                                </li>
                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Grado Academico <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Lista de Grados Academicos", skills_path %></li>
                                        <li><%= link_to "Gestionar Grado Academico", civil_states_path %></li>
                                    </ul>
                                </li>

                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Profesion <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Lista de Profesiones", skills_path %></li>
                                        <li><%= link_to "Gestionar Profesion", civil_states_path %></li>
                                    </ul>
                                </li>
                                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">PERSONA <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><%= link_to "Habilidades", skills_path %></li>
                                        <li><%= link_to "Estados Civiles", civil_states_path %></li>
                                        <li><%= link_to "Grado Academicos", civil_states_path %></li>
                                        <li><%= link_to "Profesiones", civil_states_path %></li>
                                        <li><%= link_to "Administrar Perfil", civil_states_path %></li>
                                    </ul>
                                </li>

                      <li class="nav-small-cap">CONTRATO</li>

                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Contrato <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><%= link_to "Gestionar Contrato", skills_path %></li>
                              <li><%= link_to "Listar Contratos", contract_types_path %></li>
                              <li><%= link_to "Gestionar Descuento Contrato ", contract_types_path %></li>
                              <li><%= link_to "Gestionar Beneficio Contrato", contract_types_path %></li>
                              <li><%= link_to "Administrar Horario", contract_types_path %></li>     <%#= este parece que no lo vamos a poner%>
                          </ul>
                      </li>

                        <li class="nav-small-cap">Pago</li>
                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Pago <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><%= link_to "Gestionar Pago", civil_states_path %></li>
                              <li><%= link_to "Gestionar Beneficio Para Pago", civil_states_path %></li>
                              <li><%= link_to "Gestionar Descuento Para Pago", civil_states_path %></li>
                              <li><%= link_to "Gestionar Tipo De Pago", contract_types_path %></li>
                              <li><%= link_to "generar planilla de pago", civil_states_path %></li>
                          </ul>
                      </li>

                        <li class="nav-small-cap">Control</li>
                      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">control <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><%= link_to "registrar asistencia", civil_states_path %></li>
                              <li><%= link_to "Calcular Horas Extras", civil_states_path %></li>
                              <li><%= link_to "Gestionar Vacaciones", civil_states_path %></li>
                              <li><%= link_to "Registrar Renuncia", civil_states_path %></li>
                              <li><%= link_to "registrar Despidos", civil_states_path %></li>
                              <li><%= link_to "registrar tipo de Renuncia", civil_states_path %></li>
                              <li><%= link_to "registrar tipo de Despido", civil_states_path %></li>

                    </ul>
                </li>

                <li class="nav-small-cap">Departamentos</li>
              <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">control <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><%= link_to "Gestionar Designacion", civil_states_path %></li>
                      <li><%= link_to "gestionar Capacitacion", civil_states_path %></li>
                      <li><%= link_to "Gestionar Departamento", civil_states_path %></li>
                      <li><%= link_to "Gestionar Convocatoria", civil_states_path %></li>
                      <li><%= link_to "Gestionar Evaluacion tecnica ", civil_states_path %></li>
                      <li><%= link_to "Gestionar Anuncios", civil_states_path %></li>
                      <li><%= link_to "Gestinar Evaluacion psicologica", civil_states_path %></li>
                      <li><%= link_to "Gestinar memorandums", civil_states_path %></li>
                      <li><%= link_to "Gestinar Tipos de Memorandums", civil_states_path %></li>

                  </ul>
              </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
