<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title">Personalizar Colores <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul id="themecolors" class="m-t-20">
                <li><b>Con sidebar claro</b></li>
                <li><%= link_to 'Estilo 1',change_style_default_path, :method=> :post , class:"default-theme"%></li>
                <li><%= link_to 'Estilo 2',change_style_blue_dark_path, :method=> :post , class:"blue-dark-theme"%></li>
                <li><%= link_to 'Estilo 3',change_style_blue_path, :method=> :post , class:"blue-theme"%></li>
                <li><%= link_to 'Estilo 4',change_style_default_dark_path, :method=> :post , class:"default-dark-theme"%></li>
                <li><%= link_to 'Estilo 5',change_style_green_dark_path, :method=> :post , class:"green-dark-theme"%></li>
                <li><%= link_to 'Estilo 6',change_style_green_path, :method=> :post , class:"green-theme"%></li>
                <li><b>Con sidebar oscuro</b></li>
                <li><%= link_to 'Estilo 7',change_style_megna_dark_path, :method=> :post , class:"megna-dark-theme"%></li>
                <li><%= link_to 'Estilo 8',change_style_megna_path, :method=> :post , class:"megna-theme"%></li>
                <li><%= link_to 'Estilo 9',change_style_purple_dark_path, :method=> :post , class:"purple-dark-theme"%></li>
                <li><%= link_to 'Estilo 10',change_style_purple_path, :method=> :post , class:"purple-theme"%></li>
                <li><%= link_to 'Estilo 11',change_style_red_dark_path, :method=> :post , class:"red-dark-theme"%></li>
                <li><%= link_to 'Estilo 12',change_style_red_path, :method=> :post , class:"red-theme"%></li>
            </ul>
        </div>
    </div>
</div>
